---
import { Picture } from 'astro:assets';

import iconTop1 from '../../assets/icons/ftr_btm_icn_1-1.png';
import iconTop2 from '../../assets/icons/ftr_btm_icn_1-2.png';
import iconBottom1 from '../../assets/icons/ftr_btm_icn_2-1.png';
import iconBottom2 from '../../assets/icons/ftr_btm_icn_2-2.png';
import iconBottom3 from '../../assets/icons/ftr_btm_icn_2-3.png';
import iconBottom4 from '../../assets/icons/ftr_btm_icn_2-4.png';

interface Props {
  ftr_btm_txt_1?: string;
  ftr_btm_txt_2?: string;
}

const {
  ftr_btm_txt_1 = 'PRONOUNCE MY NAME CORRECTLY: KEVIN FOWL-KEY!',
  ftr_btm_txt_2 = 'BLUE-EYED VIKING DRAGON FROM THE NORTH',
} = Astro.props;

const iconsTop = [iconTop1, iconTop2];
const iconsBottom = [iconBottom1, iconBottom2, iconBottom3, iconBottom4];
---

<div class="footer-bottom">
  <div class="container">
    <p>
      <span>{ftr_btm_txt_1}</span>
      [
      <span class="icon-group">
        {iconsTop.map((icon, index) => (
          <>
            <Picture src={icon} alt="icon" aria-hidden="true"  formats={['avif', 'webp']}/>
            {index < iconsTop.length - 1 && <span>-</span>}
          </>
        ))}
      </span>
      ]
    </p>
    <p>
      <span>{ftr_btm_txt_2}</span>
      <span class="icon-group">
        {iconsBottom.map((icon) => (
          <Picture src={icon} alt="icon" aria-hidden="true"  formats={['avif', 'webp']} />
        ))}
      </span>
    </p>
  </div>
</div>
