---
import { Picture } from 'astro:assets';
import logo from '../../assets/images/logo.png';

interface Props {
  name?: string;
  rightsText?: string;
}

const { name = 'Kevin Focke', rightsText = 'All Rights Reserved.' } = Astro.props;
const year = new Date().getFullYear();
---

<div class="footer-top">
  <div class="container">
    <a href="/" aria-label="Kevin Focke – home">
      <Picture src={logo} alt="Kevin Focke logo"  formats={['avif', 'webp']} />
    </a>
    <p>© {year} {name}. {rightsText}</p>
  </div>
</div>
