---
import { Image } from 'astro:assets';
import logo from '../../assets/images/logo.png';
---

<header class="site-header">
  <div class="header-inner">
    <a href="/" aria-label="Kevin Focke – home">
      <Image src={logo} alt="Kevin Focke logo" loading="eager" />
    </a>
  </div>
</header>

<style>
  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .header-inner {
    padding: 7px 0;
    text-align: center;
    border-bottom: 1px solid var(--color-white-10);
    line-height: 0;
  }

  @media(max-width: 767px){
    .header-inner a{
      max-width: 200px;
    }
  }
</style>
